extends ../templates/basic.jade

block body
  h1 Welcome User
  h3 Stock Portfolio
  section.portfolio-table
    div.t-col.sym Symbol
    div.t-col.cmpny Company
    div.t-col.price Price
    div.t-col.qty Qty
