.portfolio-table {
  position: relative;
}

.t-col {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.total {
  clear: both;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
}
nav li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  float: right;
}

footer {
  position: fixed;
  bottom: 0;
}
